<div class="container">
    <img src="~/images/faleconosco1.jpg" alt="Fale conosco" />
    <div class="row">
        <h3>Queremos ouvir o que você tem a dizer</h3>
        <p>
            Se você tiver alguma dúvida ou sugestão fale conosco
        </p>
        <div class="row m-1">
            <span class="mb-2 ms-1 col-12">
                <img src="~/images/Envelope-icon24.png" />
                <email endereco="emailexample.com" conteudo="Enviar um e-mail"></email>
            </span>
            <span class="mb-2 col-12">
                <img src="~/images/phone-app-icon.png" />            
                (99) 99999-9999
            </span>
            <span class="mb-2 col-12">
                <img src="~/images/Home-iconred.png" />
                Av. Juscelino Kubichek 1000 - 03540-550 - São Paulo
            </span>
        </div>
    </div>
</div>